@keyframes hue-rotate {
	0% {
		filter: hue-rotate(0deg);
	}
	100% {
		filter: hue-rotate(360deg);
	}
}

.test {
	animation: hue-rotate 2s infinite linear;
	border: 10px solid #00ff00;
	background: #00ff0011;
	color: #ff00ff;
	font-family: "Comic Sans MS", cursive;
	font-size: 4rem;
	text-align: center;
}
